<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script type="text/javascript" src="{% static 'd3.v3.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>{{ title }}</title>
    {% block head_content %}{% endblock %}
</head>
<body>
<div class="page">
      <div class="header">
          <div>
              <a href="{% url 'index' %}">Graph Explorer</a>
          </div>
          <div>
              {% if datasource_plugins %}
                 {% for p in datasource_plugins %}
                    <a href="{% url 'datasource_plugin' id=p.identifier %}">{{ p.name }}</a>
                 {% endfor %}
              {% else %}
                <h3>No recognized data source plugins</h3>
              {% endif %}
          </div>
      </div>
      <div class="left">
          <div>
              {% if visualizer_plugins %}
                 {% for p in visualizer_plugins %}
                    <a href="{% url 'visualizer_plugin' id=p.identifier %}">{{ p.name }}</a>
                 {% endfor %}
              {% else %}
                <h3>No recognized visualizer plugins</h3>
              {% endif %}
          </div>
          <ul>
              <li>
                  <a href="{% url 'graph_layout' %}">Graph Layout</a>
              </li>
          </ul>
          {% block links %}{% endblock %}
      </div>
      <div class="center">
          {% block content %}{% endblock %}
      </div>
</div>
</body>
</html>
